[% PROCESS header.inc %]
<div id="title">iphone</div>
[% FOREACH timeline = c.stash( 'timelines' ) %]
<div>
<div class="service">[% timeline.service %]</div>
<div class="name">[% timeline.name %]([% timeline.screen_name %])</div>
<div class="text">[% timeline.text %]</div>
<div class="created_at">at [% timeline.created_at %]</div>
</div>
[% END # FOREACH %]
[% PROCESS footer.inc %]
